.footer hr {
  margin-top: 20px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  /* background-color: blue; */

}

.trademark {
  margin-left: auto;
  padding: 0px;
}
