

  
  
  .card {
    background: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--color-shadow);
    aspect-ratio: 5 / 4;


  }
  
  
  .card-image {
    /*   should be made with a 3 to 2 image ratio */
  /*   width of cards are 250px */
    width: 100%;
    aspect-ratio: 3 / 2;
    background-color: var(--color-border);
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
  }


  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on behavior */
    border-radius: 8px 8px 0 0; /* match parent if needed */
  }
  
  .card-text {
    padding: 0px 16px 28px 16px;
    height:10em;

  }

  /* .card-container {
    padding: 20px 20px 10px 20px;
  } */
  
  section h1 {
    text-align: Left;
    padding: 20px 20px 4px 0px;
    
  }
  
  .card h2 {
    margin-top: 12px;
    margin-bottom: 16px;
    color: var(--color-text-dark);
    font-size: 1.5em;
  }
 
  /* old  */
  .card p {
    color: var(--color-text-muted);
    line-height: 1.5;
    font-style: italic;
    font-size: 1em;
  }
  
.card p {
  color: var(--color-text-muted);
  line-height: 1.5;
  font-style: italic;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;  /* Allow more/fewer lines of description */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

  .topic-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
  
  .topic {
    background-color: var(--color-background-muted);
    padding: 4px 10px;
    border-radius: 8px;
    font-size: .75em;
    color: var(--color-text-muted);
  }
  
  


  .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 10px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 2px solid --color-background-dark;
        border-radius: 8px;
        border: 2px solid transparent; /* necessary for smooth transition */
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
